<section class="d-flex flex-column justify-content-between main-header">
    <div class="mx-auto mt-3">
        <img src="https://react-marvel-poc.fidisys.com/static/media/logo.8d0e4f59.svg">
    </div>
    <div class="mx-auto">
        <nav>
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink='characters' routerLinkActive="active" >Charactors</a>
            <a routerLink='comics' routerLinkActive="active" >Comics</a>
            <a routerLink='series' routerLinkActive="active" >Series</a>
        </nav>
    </div>
</section>
