<div>
    <section class="curousel-section">
        <div class="carousel-inner">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div>
                        <div>
                          <div class="chart">
                            <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [options]="pieChartOptions"
                              [colors]="pieChartColors"
                              [legend]="pieChartLegend">
                            </canvas>
                          </div>
                        </div>
                      </div>
                </ng-template>
                <ng-template carouselSlide [width]=600>
                    <img src='https://react-marvel-poc.fidisys.com/static/media/carousel-img.6bbf546f.png' style="width: 650px;height: 300px;">
                </ng-template>
                <ng-template carouselSlide>
                    <img src='https://react-marvel-poc.fidisys.com/static/media/carousel-img.6bbf546f.png' style="width: 650px;height: 300px;">
                </ng-template>
              </owl-carousel-o>
        </div>
    </section>
</div>
