<div>
    <section class="curousel-section">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [width]=600>
                <img src='https://react-marvel-poc.fidisys.com/static/media/carousel-img.6bbf546f.png' style="width: 650px;height: 300px;">
            </ng-template>
            <ng-template carouselSlide [width]=600>
                <img src='https://react-marvel-poc.fidisys.com/static/media/carousel-img.6bbf546f.png' style="width: 650px;height: 300px;">
            </ng-template>
            <ng-template carouselSlide>
                <img src='https://react-marvel-poc.fidisys.com/static/media/carousel-img.6bbf546f.png' style="width: 650px;height: 300px;">
            </ng-template>
          </owl-carousel-o>
    </section>
</div>
